<launch>
  <!-- Fake lidar injector nod params -->
  <arg name="v2x_viz" default="true"/>
  <arg name="fake_lidar" default="true"/>
  <arg name="fake_lidar_topic" default="/points_raw"/>
  <arg name="pcd_file" default="lead_vehicle_intensity.pcd"/>
  <arg name="lidar_topic_listener" default="/points_raw"/>
  <arg name="lidar_topic_publisher" default="/points_mod"/>
  <arg name="MA_gain" default="0.1"/>
  <arg name="cleanup_freq" default="1.0"/>
  <arg name="ignore_id" default="00000001"/>

  <!-- Fake RADAR injection -->
  <arg name="fake_radar" default="true"/>
  <arg name="radar_freq" default="10.0"/>
  <arg name="radar_to_baseline" default="4.8"/>

  <!-- SPAT and MAP mixer node -->
  <arg name="v2x_spatnmap" default="false"/>
  <arg name="spat_topic" default="/v2x/SPaT"/>
  <arg name="map_topic" default="/v2x/MapData"/>
  <arg name="gps_topic" default="/gps/gps"/>
  <arg name="search_radius" default="2.0"/>
  <arg name="min_acceptable_distance" default="0.5"/>


  <!-- Virtual Map -->
  <arg name="virtual_map" default="true"/>
  <arg name="map_file" default="config/virtual_map.yaml"/>
  <arg name="loop" default="false"/>
  <arg name="filler_activate" default="false"/>
  <arg name="timer_freq" default="50.0"/>

  <!-- Blind Spot detection -->
  <arg name="enable_blindspot" default="true"/>
  <arg name="blindspot_width" default="3.3"/>
  <arg name="blindspot_in_lane" default="1.0"/>
  <arg name="blindspot_length" default="15.0"/>
  <arg name="blindspot_max_T" default="4.0"/>
  <arg name="blindspot_step_T" default="0.5"/>


  <node if="$(arg v2x_viz)" pkg="apsrc_v2x_viz" type="apsrc_v2x_viz_node" name="apsrc_v2x_viz" output="screen" >
    <param name="fake_lidar" value="$(arg fake_lidar)"/>
    <param name="pcd_file" value="$(find apsrc_v2x_viz)/$(arg pcd_file)"/>
    <param name="lidar_topic_listener" value="$(arg lidar_topic_listener)"/>
    <param name="lidar_topic_publisher" value="$(arg lidar_topic_publisher)"/>
    <param name="MA_gain" value="$(arg MA_gain)"/>
    <param name="cleanup_freq" value="$(arg cleanup_freq)"/>
    <param name="enable_blindspot" value="$(arg enable_blindspot)"/>
    <param name="blindspot_width" value="$(arg blindspot_width)"/>
    <param name="blindspot_in_lane" value="$(arg blindspot_in_lane)"/>
    <param name="blindspot_length" value="$(arg blindspot_length)"/>
    <param name="blindspot_max_T" value="$(arg blindspot_max_T)"/>
    <param name="blindspot_step_T" value="$(arg blindspot_step_T)"/>
  </node>

  <node if="$(arg v2x_spatnmap)" pkg="apsrc_v2x_viz" type="apsrc_v2x_spatnmap_node" name="apsrc_spatnmap_viz" output="screen" >
    <param name="spat_topic" value="$(arg spat_topic)"/>
    <param name="map_topic" value="$(arg map_topic)"/>
    <param name="gps_topic" value="$(arg gps_topic)"/>
    <param name="search_radius" value="$(arg search_radius)"/>
    <param name="min_acceptable_distance" value="$(arg min_acceptable_distance)"/>
  </node>

  <node if="$(arg virtual_map)" pkg="apsrc_v2x_viz" type="apsrc_v2x_virtual_map_node" name="apsrc_v2x_virtual_map_node" output="screen" >
    <param name="virtual_map_file" value="$(find apsrc_v2x_viz)/$(arg map_file)"/>
    <param name="loop" value="$(arg loop)"/>
    <param name="filler_activate" value="$(arg filler_activate)"/>
    <param name="timer_freq" value="$(arg timer_freq)"/>
  </node>


</launch>